@import "functions";
@import "mixins";

html {
  box-sizing: border-box;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  & #root {
    display: contents;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100%;
  display: block;
  text-align: center;
  padding: 100px;
  &.theme-light {
    background: getLight(background);
    & > .title {
      @include title;
      color: getLight(heading);
    }
  }
  &.theme-dark {
    background: getDark(background);
    & > .title {
      @include title;
      color: getDark(heading);
    }
  }
}

