@import "colorDefinitions";

@function getColor($colorName) {
  @return map-get($colors, $colorName);
}

$dark: (
  heading: getColor(white),
  mainText: getColor(white),
  additionalText: getColor(grayLight),
  placeholderColor: getColor(grayDark),
  inputBorderColor: getColor(grayLight),
  buttonText: getColor(white),
  buttonColor: getColor(orangeDark),
  switcherBackground: getColor(doveGray),
  cardFormBackground: getColor(doveGray),
  background: getColor(purpleGradient),
  activeIcon: getColor(blueMoon),
  inactiveIcon: getColor(grayDark),
);
