
:root {
  --heading: black;
  --buttonColor: #ffb4a2;
  --mainText: #000;
  --additionalText: #434343;
  --buttonText: #fff;
  --active: #f3ce00;
  --inactive: rgba(110, 110, 110, 0.3);
  --switcherBack: white;
  --creditCardBack: white;
  --background: linear-gradient(135deg, rgb(205, 254, 255) 0%, rgb(204, 190, 255) 100%);
}

:root[theme="dark"]{
--heading: white;
--buttonColor: #b5838d;
  --mainText: #fff;
--additionalText: #c3c3c3;
--buttonText: #fff;
  --active: #5c77de;
  --inactive: #888888;
  --switcherBack: #424242;
  --creditCardBack: #424242;
  --background: linear-gradient(135deg, hsl(249, 20%, 40%) 0%, hsl(241, 34%, 27%) 100%);
}

/* elements that change color */

h2 {
  padding-bottom: 50px;
  color: var(--heading);
}

p{
  color: var(--additionalText);
}


.card-form button {
  background: var(--buttonColor);
  color: var(--buttonText);
}

/* Transitons for smooth theme change */
*:not(html) {
  transition: all .5s ease;
}

/* All other styles */
html{
  height: 100%;
}
body {
  margin: 0;
  height: 97%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.App {
  margin-top: 150px;
  height: 100%;
  display: block;
}

.card-form {
  padding: 5%;
  width: 350px;
  background: var(--creditCardBack);
  border: none;
  border-radius: 10px;
  margin: 10px auto;

  height: auto;
  position: relative;
}

.card-form button {
  width: 100%;
  border-radius: 10px;
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}

.card-preview{
  margin-top: -100px;
}




.Switch {
  position: absolute;
  top:20px;
  right:20px;
  width: 4rem;
  height: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--switcherBack);
  padding: 0;
  border: none;
}

.Switch .icon {
  font-size: 1.3rem;
}

button {
  outline: none;
  cursor: pointer;
}

.icon.active {
  color: var(--active);
}

.icon {
  color: var(--inactive);
}
