
:root {
  --heading: black;
  --buttonColor: #ffb4a2;
  --mainText: #000;
  --additionalText: #434343;
  --buttonText: #fff;
  --active: #f3ce00;
  --inactive: rgba(110, 110, 110, 0.3);
  --switcherBack: white;
  --creditCardBack: white;
  --background: linear-gradient(135deg, rgb(205, 254, 255) 0%, rgb(204, 190, 255) 100%);
  --placeholderColor: #c8c7c7;
}

:root[theme="dark"]{
--heading: white;
--buttonColor: #b5838d;
--mainText: #fff;
--additionalText: #c3c3c3;
--buttonText: #fff;
--active: #5c77de;
--inactive: #888888;
--switcherBack: #424242;
--creditCardBack: #424242;
--background: linear-gradient(135deg, hsl(249, 20%, 40%) 0%, hsl(241, 34%, 27%) 100%);
--placeholderColor: #646464;
}

/* elements that change color */

h2 {
  padding-bottom: 50px;
  color: var(--heading);
}

p{
  color: var(--additionalText);
}


.card-container button {
  background: var(--buttonColor);
  color: var(--buttonText);
}

/* All other styles */
html{
  padding: 100px;
  box-sizing: border-box;
  height: 100%;
}
body {
  margin: 0;
  height: 97%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.App {
  height: 100%;
  display: block;
}

.card-container {
  padding: 5%;
  width: 350px;
  background: var(--creditCardBack);
  border: none;
  border-radius: 10px;
  margin: 10px auto;

  height: auto;
  position: relative;
}

.card-container button {
  width: 100%;
  border-radius: 10px;
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}

.card-preview{
  margin-top: -100px;
}
.card-input{
    background: transparent;
  margin-left: auto;
  margin-right: auto;
    border: none;
    color: var(--mainText);
    font-size: 20px;
  width: 300px;
    border-bottom: 1px solid var(--additionalText);
}
.card-input:focus{
    border-bottom: 1px solid var(--buttonColor);
    outline: none;
}
.card-input::placeholder{
    color: var(--placeholderColor);
}

.card-input-label{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: left;
  display: inline-block;
  color: var(--additionalText);
  font-size: 12px;
}

.Switch {
  position: absolute;
  top:20px;
  right:20px;
  width: 4rem;
  height: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--switcherBack);
  padding: 0;
  border: none;
}

.Switch .icon {
  font-size: 1.3rem;
}

button {
  outline: none;
  cursor: pointer;
}

.icon.active {
  color: var(--active);
}

.icon {
  color: var(--inactive);
}

.rccs__card--visa .rccs__card__background {
  background-image: linear-gradient(135deg, rgb(205, 254, 255) 0%, rgb(204, 190, 255) 100%) !important;
}
